/* @import url("@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');"); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
p {
  color: #212121;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
/* h1, h2, h3, h4, h5, h6{font-weight: 600 !important;} */
a {
  cursor: pointer;
}
h4 {
  color: #C080FF;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin: 2rem auto;
}
.add-card {
  display: flex;
  justify-content: space-between;
  margin: 2rem 3rem;
}

.add-card span {
  font-size: 1rem;
  color: #212121;
}
.price-div {
  width: 100%;
  border-radius: 10px;
  padding: 1rem 3rem;
  background-color: #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  box-shadow: 0.4rem 0.4rem 0.6rem #00000040;;
  color: #fff;
}
.price-div h5 {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #212121;
}
.price-div h6 {
  color: #212121;
  font-weight: 600;
  font-size: 1rem;
  line-height: 3rem;
}
.payment-card {
  margin: 3rem 32rem 5rem;
  padding: 2rem 4rem;
  border-radius: 10px;
  background-color: #8e43ed;
  box-shadow: 0.4rem 0.4rem 0.6rem #00000040;
  color: #fff;
}
.payment-card h1 {
  color: cornsilk;
  margin-bottom: 2rem;
  padding: 0rem 0.5rem;
}
.payment-card p {
  color: #fff;
  margin: 0.5rem 0;
  padding: 0rem 0.5rem;
}

.total-pay {
  background-color: #ebebeb;
  padding: 1rem 10rem;
  border-radius: 10px;
  box-shadow: .4rem 0.4rem 0.6rem #00000040;
}

.order {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.delivery {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

.summary {
  display: flex;
  justify-content: space-between;
}

.order p,
.summary p,
.delivery p {
  color: #212121;
}

.card-name {
  display: flex;
  justify-content: space-between;
}

button {
  width: 50%;
  display: flex;
  margin: 3rem auto;
  color: #fff;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 10px;
  background: #8e43ed;
  border: 1px solid #8e43ed;
  transition: all 0.3s;
  justify-content: center;
}

button:hover {
  border: 1px solid white;
}

button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}


/* Material UI customization */
/* CARD STYLE */
.makeStyles-MainContainer-5,
.makeStyles-MainContainer-1,
.makeStyles-MainContainer-7 {
  background-color: #f5f5f5 !important;
}
.css-bhp9pd-MuiPaper-root-MuiCard-root {
  background: #ebebeb !important;
  border-radius: 10px !important;
  transition: 400ms ease !important;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff !important;
}
.css-bhp9pd-MuiPaper-root-MuiCard-root:hover {
  transform: scale(1.1) !important;
}
.css-gepadz-MuiTypography-root {
  color: #C080FF !important;
  margin: 2rem auto !important;
  font-weight: 600 !important;
}
.css-ahj2mt-MuiTypography-root,
.css-186q1z4-MuiTypography-root {
  color: #212121 !important;
}
.makeStyles-MainContainer-3 {
  background-color: #f5f5f5 !important;
}
.css-1ps6pg7-MuiPaper-root {
  background-color: #f5f5f5 !important;
}
.css-1ps6pg7-MuiPaper-root{
  background-color: #f5f5f5 !important;
  box-shadow: none !important;
}
@media (min-width: 1400px) {
  .css-1oqqzyl-MuiContainer-root {
    max-width: 100% !important;
  }
}



/* SOME MEDIA QUERY */

@media only screen and (max-width: 768px) {
  .payment-card {
    margin: 3rem 0;
    padding: 1.2rem;
  }
  .payment-card h1 {
    color: cornsilk;
    margin-bottom: 0;
  }
  .payment-card p {
    color: #fff;
    margin: 0.5rem 0;
  }
  .total-pay{
    background-color: #ebebeb;
    padding: 1rem;
  }
  .add-card{
    padding: 0;
  }
  .price-div{
    padding:1rem ;
    background-color: #ebebeb;
  }
  .price-div h5, .price-div h5{
    color: #212121;
  }
}
